.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #1F2833;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }
  
  .header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  
  
  .header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    
    }
  
    .header_searchInput{
      height: 12px;
     padding: 10px;
       border:none;
      width: 100%;
      
  }
  
  .header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
  
  .header_option{
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin-left:10px ;
    margin-right: 10px;
    }
  
    .header_nav{
      display: flex;
      justify-content: space-evenly;
  }
  
  .header_optionBasket{
    display: flex;
    align-items: center;
    color: rgb(77, 74, 74);
  }
  
  .header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
  
  